.grid {
  background-color: #F12000;
  width: 30rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(2, 10rem) 5rem;
}
.grid__item {
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid transparent;
}
.grid__item-1, .grid__item-5 {
  border-left: 10rem solid #DDE0D7;
}
.grid__item:not(.grid__item-1):not(.grid__item-5) {
  border-left: 10rem solid #000;
}
.grid__item-2, .grid__item-5 {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
