body {
  min-height: 100vh;
}
.blue-box {
  background-color: deepskyblue;
  color: #fff;
  width: 26rem;
  height: 26rem;
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13rem;
  margin-left: -13rem;
}
